# Building a Python Binance App by Trial & Error

### Import required modules

In [1]:
from pandas import DataFrame as df
from binance.client import Client
from datetime import datetime
import llaves

It is recessary to create a file named "llaves.py" in order to include your public and secret keys:

> #pKey = 'abcdefghijklmnoprstuvwxyz'

> #sKey = '0123456789'

This values are created/obtained in the "User Center >> API Management" section in yor Binance account.

### Initialize the client

In [2]:
client = Client(api_key=llaves.pKey, api_secret=llaves.sKey)

### (Un)comment if you want to test the connection

In [3]:
# client.ping()
# time_res = client.get_server_time()
# print(time_res)
# status = client.get_system_status()
# print(status)
# info = client.get_exchange_info()
# print(info)
# info = client.get_symbol_info('BTCUSDT')
# print(info)

In [4]:
candles = client.get_klines(symbol='BTCUSDT', interval=Client.KLINE_INTERVAL_1WEEK)

In [5]:
candles_df = df(candles)
# print(candles_df)

In [6]:
candles[-1]

[1621209600000,
 '46426.83000000',
 '46686.00000000',
 '30000.00000000',
 '32786.74000000',
 '1364744.36531300',
 1621814399999,
 '53116396549.13622989',
 26593413,
 '655954.37150500',
 '25553542730.32767802',
 '0']

We take the first column only. This column contans the timestamp in Binance format

In [7]:
candles_df_date = candles_df[0]

In [8]:
final_date = []

In [9]:
for time in candles_df_date:
    readable = datetime.fromtimestamp(int(time/1000))
    final_date.append(readable)

In [10]:
len(final_date)

197

In [11]:
candles_df.pop(0)
candles_df.pop(11)

0      10125.41408414
1      11456.95307303
2      12653.02927308
3      10431.32749057
4       8391.64647834
            ...
192                 0
193                 0
194                 0
195                 0
196                 0
Name: 11, Length: 197, dtype: object

In [13]:
final_date_df = df(final_date)

In [14]:
final_date_df

                      0
0   2017-08-14 02:00:00
1   2017-08-21 02:00:00
2   2017-08-28 02:00:00
3   2017-09-04 02:00:00
4   2017-09-11 02:00:00
..                  ...
192 2021-04-19 02:00:00
193 2021-04-26 02:00:00
194 2021-05-03 02:00:00
195 2021-05-10 02:00:00
196 2021-05-17 02:00:00

[197 rows x 1 columns]

In [15]:
final_date_df.columns = ['date']

In [17]:
print(final_date_df)

                   date
0   2017-08-14 02:00:00
1   2017-08-21 02:00:00
2   2017-08-28 02:00:00
3   2017-09-04 02:00:00
4   2017-09-11 02:00:00
..                  ...
192 2021-04-19 02:00:00
193 2021-04-26 02:00:00
194 2021-05-03 02:00:00
195 2021-05-10 02:00:00
196 2021-05-17 02:00:00

[197 rows x 1 columns]

In [18]:
final_df = candles_df.join(final_date_df)

In [19]:
final_df

,1,2,3,4,5,6,7,8,9,10,date
0,4261.48000000,4485.39000000,3850.00000000,4086.29000000,2843.43142600,1503273599999,12021576.48265154,13134,2240.24924000,9482742.92094674,2017-08-14 02:00:00
1,4069.13000000,4453.91000000,3400.00000000,4310.01000000,4599.39662900,1503878399999,18978983.50987317,37826,1755.53026500,7173180.19744751,2017-08-21 02:00:00
2,4310.01000000,4939.19000000,4124.54000000,4509.08000000,4753.84337600,1504483199999,21581679.92866748,35717,1371.03442800,6237542.20612072,2017-08-28 02:00:00
3,4505.00000000,4788.59000000,3603.00000000,4130.37000000,6382.78774500,1505087999999,27307824.36893929,42372,2821.42273900,12120979.77068529,2017-09-04 02:00:00
4,4153.62000000,4394.59000000,2817.00000000,3699.99000000,8106.70512700,1505692799999,30026796.42861788,50423,3763.12845200,13956149.18844029,2017-09-11 02:00:00
...,...,...,...,...,...,...,...,...,...,...,...
192,56150.01000000,57526.81000000,46930.00000000,49066.77000000,568462.85096000,1619395199999,29936891043.81596597,14947615,274940.86132300,14487266259.92435533,2021-04-19 02:00:00
193,49066.76000000,58458.07000000,48753.44000000,56578.21000000,395983.45601300,1619999999999,21707164512.76862292,12719227,195298.61985100,10703998531.65657049,2021-04-26 02:00:00
194,56578.21000000,59500.00000000,52900.00000000,58240.84000000,504478.92630300,1620604799999,28725771451.78632514,16275966,248052.47061700,14129842033.20115189,2021-05-03 02:00:00
195,58240.83000000,59500.00000000,43825.39000000,46431.50000000,684880.14819700,1621209599999,35228801446.48219432,17778177,327220.27293100,16851047061.76013277,2021-05-10 02:00:00
196,46426.83000000,46686.00000000,30000.00000000,32786.74000000,1364744.36531300,1621814399999,53116396549.13622989,26593413,655954.37150500,25553542730.32767802,2021-05-17 02:00:00